<tr>
  <td>
    <%= student.full_name %>
  </td>
  <td>
    <%= student.email %>
  </td>
  <td>
    <%= student.birth_date %>
  </td>
  <td>
    <%= student.gender %>
  </td>
  <td>
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to "Show", student, role:"button", class: "btn btn-default" %>
      <%= link_to "Edit", edit_student_path(student), role:"button", class: "btn btn-default" %>
    </div>
  </td>
</tr>    