<h1>Students</h1>
<%= will_paginate_nicely @students %>
<table class="table">
  <thead>
    <tr>
      <th width="40%">
        Name
      </th>
      <th width="40%">
        Email
      </th>
      <th width="10%">
        Birth Date
      </th>
      <th width="10%">
        Gender
      </th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td>
          <%= student.full_name %>
        </td>
        <td>
          <%= student.email %>
        </td>
        <td>
          <%= student.birth_date %>
        </td>
        <td>
          <%= student.gender %>
        </td>
      </tr>    
    <% end %>
  </tbody>
</table>
<%= will_paginate_nicely @students %>